<!doctype html>
<html>

<head>
    <title>Hapi App</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    {{> head}}
    <section class="center-l" id="main-container">
        <h1>Hapi App</h1>
        <div class="field">
            {{#if message}}
            <section>
                <p class="text-al-center" id="message">{{message}}</p>
            </section>
            {{/if}}
        </div>
        {{{content}}} {{> foot}}
    </section>
    <script src="/static/js/script.js"></script>
</body>

</html>